
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap_theme";

.display-none{
	display: none;
}

.tag{
	margin: .2em;
	min-width: 7em;
}

.tag-btn{
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-success;
}

.tag-input{
  display: flex;
  padding: 1.2em 0em;
  align-items: center; 
}

.panel{
  padding: .5em;
}

.panel .panel{
  background-color: #444;
}


.notice{
  padding: 5px 9px;
  border-radius: 4px
}

.red.notice{
  @extend .bg-danger;
  color: white;
}










  